//- HTML(5):
doctype
//- HTML:
html(lang='en')
  //- HEAD:
  head
    //- Metas:
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="NodeJs")
    //- Config:
    link(rel="stylesheet", href="../css/404.css")
    title NotFound
  //- BODY:
  body
    //- Inputs
    h1 Sorry this page dose not found!
    h1 Status: 404